<div class="container container-layout my-5">
    {{>formulario}}
</div>
<div class="container container-layout my-5">
    {{>productos}}
</div>
<div class="container container-layout my-5">
    {{>chat}}
</div>
