    <h3 class="container mt-3 mb-3 ">Formulario de Ingreso</h3>
    <div class="container">
        <form onsubmit="return addProd(this)" id="form">
            NOMBRE <input class="form-control my-2" type="text" id="nombre">
            DESCRIPCIÓN <input class="form-control my-2" type="text" id="descripcion">
            CÓDIGO <input class="form-control my-2" type="number" id="codigo">
            PRECIO <input class="form-control my-2" type="number" id="precio">
            STOCK <input class="form-control my-2" type="number" id="stock">
            URL <input class="form-control my-2" type="text" id="foto">
            <button class="btn btn-primary my-2">ENVIAR</button>
        </form>
    </div>