<h3 class="container mt-3 mb-3 ">Vista de Productos</h3>
<div class="align-middle">
<table class="table table-success table-striped container-layout text-center">
    <thead>
        <tr>
        <th scope="col">Código</th>
        <th scope="col">Producto</th>
        <th scope="col">Descripción</th>
        <th scope="col">Precio</th>
        <th scope="col">Foto</th>
        </tr>
    </thead>
    <tbody id="tabla-body">
        
    </tbody>
</table>
</div>
